services:
  teamspeak-prometheus:
    build: .
    container_name: teamspeak-prometheus
    restart: always
    volumes:
      - ./config.yaml:/app/config.yaml
    ports:
      - "8001:8000"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: always
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - teamspeak-prometheus
